/.idea
/.venv
/0849593_Lab8.ipynb
/and_gate.PNG
/Basic_errors.ipynb
/Caesar_cipher_SOLN.ipynb
/dictionaries_review.ipynb
/dictionaries_review_SOLN.ipynb
/emmas_story.txt
/example.json
/Exam_1_review_UPDATED.ipynb
/exam_2_review.ipynb
/ex_sweet.py
/flask_class
/Functions_Part_1.ipynb
/Functions_Part_1_SOLN.ipynb
/functions_Part_2.ipynb
/Graded_Labs_2_Sect_3_updated.ipynb
/Graded_Lab_1_Sect_2.com
/Graded_Lab_2_Group6.ipynb
/Graded_Lab_2_Sect_2 - Copy.ipynb
/Graded_Lab_3.ipynb
/Group_project.ipynb
/helpers.py
/IO_methods.ipynb
/IO_methods1.ipynb
/Lab_1_Group_6.ipynb
/lists_and_week_1_review.ipynb
/Logic_gates.ipynb
/loops.ipynb
/marks(1).csv
/marks.csv
/new_text.txt
/not_gate.PNG
/NumPy.ipynb
/OOP_Part_1.ipynb
/OOP_Part_2.ipynb
/OOP_Part_2_SOLN.ipynb
/p1.jpg
/Pandas.ipynb
/Pandas_SQLite(2).ipynb
/Pathlib_SOLN.ipynb
/pd_school.db
/pd_school.db-journal
/places.json
/project_group6.zip
/Quiz1.ipynb
/rent-ideal.csv
/rent.csv
/requirements
/RM.ipynb
/School.db
/short_rent.csv
/short_rent_d.csv
/SQLite.ipynb
/strings.ipynb
/students.csv
/students_1.csv
/students_2.csv
/test.ipynb
/test.py
/tictactoe.ipynb
/try.py
/two_bit_adder.PNG
/variables_data_types_Part_1.ipynb
/variables_data_types_Part_1_SOLN.ipynb
/variables_data_types_Part_2.ipynb
/variables_data_types_Part_2_SOLN.ipynb
/xor_gate.PNG
/__pycache__